.form__input {
  width: 100%;
  color: var(--input-color, #000);
  font-size: 14px;
  line-height: 17px;
  background-color: transparent;
  border-bottom: var(--input-border-bottom, 1px solid rgba(0, 0, 0, .2));
  padding-bottom: var(--input-padding-bottom, 9px);
}

input:-webkit-autofill {
  -webkit-text-fill-color: var(--input-color, #000);
  -webkit-background-clip: text;
}
