.form__heading {
  color: var(--heading-color, #000);
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  text-align: var(--heading-text-align, none);
  margin: var(--heading-margin-display-m, 0 0 47px);
}

@media screen and (max-width: 580px) {
  .form__heading {
    font-size: var(--heading-fs-display-s, 18px);
    line-height: var(--heading-lh-display-s, 22px);
    margin: var(--heading-margin-display-s, 0 0 73px);
  }
}
